@use "../util/" as *;

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--dark-bg);
  color: var(--light-text);
  font-family: var(--font-IBM-sans);
  margin: 0;
  padding: 0;
  overflow: hidden;
  &.active-modal {
    overflow-y: hidden;
  }
}
