@use "../util/" as *;

:root {
  --dark-bg: #202020; // CHALKBOARD
  --dark-bg-secondary: #282828;
  --light-text: #fffff0; // IVORY
  --bone-white: #f9f6ee;
  --parchment: #fcf5e5;
  --pearl: #e2dfd2;
  --porcelain: #e8e5e5;
  --misty-white: #dcdac1;
  --tuscan-orange: #ca633e;
  --bright-red: #f74f39;
  --country-green: #014921;
  --tennis-ball: #caf739;
  --tennis-shadow: rgba(202, 247, 57, 0.8);
  --cerulean: #488ffa;
}
