@use "../util/" as *;

section {
  padding: rem(40) rem(20);
  margin: 0;
  @include breakpoint(medium) {
    padding: rem(40) rem(50);
  }
  @include breakpoint(large) {
    padding: rem(80) rem(50);
  }
}

.container {
  margin: 0 auto;
  max-width: rem(1110);
}
