@use "../util/" as *;

section {
  padding: rem(30) rem(20);
  margin: 0;
  @include breakpoint(medium) {
    padding: rem(40) rem(50);
  }
  @include breakpoint(large) {
    padding: rem(80) rem(50) rem(100);
  }
}

.container {
  margin: 0 auto;
  max-width: rem(1100);
}

.app {
  position: relative;
}

.overlay {
  background-color: rgba(167, 167, 167, 0.803);
  height: 100vh;
  opacity: 1;
  position: absolute;
  transition: all 250ms ease-in-out;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 999;
}

.hidden {
  overflow: hidden;
}
