@use "../../sass/util/" as *;
@use "../../sass/globals/" as *;

.topnav {
  @include flex(row, flex-end, center, 0);
  height: 100%;
  position: relative;
  &__button {
    background: transparent;
    border: none;
    padding: rem(4) rem(12.5) 0 0;
    cursor: pointer;
    justify-self: end;
    @include breakpoint(large) {
      display: none;
    }
    .hamburger {
      fill: var(--light-text);
      .line {
        transform-origin: center;
        transition: 400ms ease-in-out;
      }
    }
    &.open {
      .hamburger > .line {
        &__top,
        &__bottom {
          y: 45;
        }
        &__top {
          rotate: 45deg;
        }
        &__bottom {
          rotate: -45deg;
        }
        &__middle {
          opacity: 0;
        }
      }
    }
  }
  &__list {
    @include flex(column, space-evenly, center, 0);
    background-color: var(--light-text);
    height: 100vh;
    list-style: none;
    margin: 0 auto;
    padding: 0 0 rem(300) 0;
    width: 40%;
    position: absolute;
    translate: 100vw 0;
    top: rem(60);
    @include breakpoint(large) {
      @include flex(row, flex-end, center, 0);
      background-color: transparent;
      height: 100%;
      padding: 0;
      width: 50%;
      transition: none;
      translate: 0;
      top: 0;
    }
    &.open {
      translate: 0;
    }
    @include breakpoint(large) {
      margin-right: rem(30);
      opacity: 1;
    }
    @include breakpoint(xlarge) {
      margin-right: 0;
    }
  }
  &__item {
    margin: 0;
    padding: 0;
    text-align: center;
    width: rem(120);
    @include breakpoint(large) {
      text-align: end;
    }
  }
  &__link {
    border-bottom: rem(1.8) solid transparent;
    color: var(--dark-bg);
    font-size: rem(14);
    margin: 0;
    transition: all 150ms ease-in-out;
    @include breakpoint(medium) {
      font-size: rem(16);
    }
    @include breakpoint(large) {
      color: var(--light-text);
      font-size: rem(14);
      transition: border 150ms ease-in-out;
    }
    &:hover {
      border-color: var(--dark-bg);
      font-weight: 700;
      @include breakpoint(large) {
        border-color: var(--tennis-ball);
      }
    }
  }
}
