@use "../sass/util/" as *;
@use "../sass/globals/" as *;

.btn {
  background-color: var(--tennis-ball);
  border: none;
  border-radius: rem(10);
  margin: rem(16) 0 0;
  padding: rem(12) rem(20);
  transition: all 200ms ease-in-out;
  a {
    color: var(--dark-bg);
    font-size: rem(16);
    @include breakpoint(medium) {
      font-size: rem(16);
    }
  }
  &:hover {
    background-color: var(--tennis-shadow);
    cursor: pointer;
  }
}
