@use "../sass/util/" as *;
@use "../sass/globals/" as *;

.intro {
  padding-bottom: 0;
  @include breakpoint(medium) {
    padding-top: rem(120);
    padding-bottom: rem(0);
  }
  @include breakpoint(large) {
    padding: rem(80) rem(50) rem(100);
  }
  &__container {
    @include flex(column, space-between, center, 0);
    @include breakpoint(large) {
      margin-top: 0;
      flex-direction: row;
    }
  }
  &__content {
    @include flex(column, center, flex-start, 0);
    @include breakpoint(large) {
      width: 50%;
    }
  }
  &__heading {
    margin: 0;
  }
  &__subheading {
    margin: rem(8) 0;
  }
  &__description {
    @include breakpoint(medium) {
      width: 90%;
    }
  }
  &__image {
    max-width: 90%;
    @include breakpoint(medium) {
      margin-top: rem(-30);
      max-width: rem(500);
    }
    @include breakpoint(large) {
      margin-top: 0;
    }
  }
}
