@use "../sass/util/" as *;
@use "../sass/globals/" as *;

.intro {
  @include flex(column, space-around, flex-start, 0);
  &__heading {
    margin: rem(20) 0 0;
  }
  &__subheading {
    margin: rem(8) 0;
  }
  &__description {
    width: 70%;
  }
  .resumeBtn {
    background-color: var(--tennis-ball);
    border: none;
    border-radius: rem(10);
    color: var(--dark-bg);
    font-size: 1rem;
    margin: rem(16) 0;
    padding: rem(12) rem(20);
    transition: all 200ms ease-in-out;
    &:hover {
      background-color: var(--tennis-shadow);
      cursor: pointer;
    }
  }
}
