@use "../sass/util/" as *;
@use "../sass/globals/" as *;

.intro {
  &__container {
    @include flex(column, space-between, center, 0);
    @include breakpoint(large) {
      margin-top: 0;
      flex-direction: row;
    }
  }
  &__content {
    @include flex(column, center, flex-start, 0);
    @include breakpoint(large) {
      height: 100%;
      width: 50%;
    }
  }
  &__heading {
    margin: 0;
  }
  &__subheading {
    margin: rem(8) 0;
  }
  &__description {
    @include breakpoint(medium) {
      width: 80%;
    }
  }
  &__image {
    max-width: 80%;
    @include breakpoint(large) {
      max-width: 50%;
    }
  }
}
