@use "../sass/util/" as *;
@use "../sass/globals/" as *;

.topnav {
  @include flex(row, flex-end, center, 0);
  height: 100%;
  &__list {
    @include flex(row, space-evenly, center, 0);
    list-style: none;
    padding: 0 rem(16) 0 0;
  }
  &__item {
    margin: 0;
    padding: 0;
  }
  &__link {
    border-bottom: 1.5px solid var(--dark-bg);
    color: var(--light-text);
    font-size: rem(14);
    margin: rem(6) rem(16);
    transition: border-color 250ms ease-in-out;
    &:hover {
      // border-bottom: 1.5px solid var(--tennis-ball);
      border-color: var(--tennis-ball);
    }
  }
}
